/* Global CSS Variables for Theme Colors */
:root {
  --primary-color: #1f2235; /* Dark background */
  --accent-color: #29b6f6;  /* Neon Cyan */
  --text-color: #ffffff;    /* Main Text */
  --secondary-text-color: #a1a5b8; /* Secondary Text */
  --background-color: #181c2d; /* General Background */
  --hover-color: #33344b;   /* Hover effect */
  --highlight-color: #13f113; /* Green highlight color */
  --font-family: 'Roboto', sans-serif;
}

/* Basic Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #061123;
  background-image: 
      radial-gradient(at 47% 33%, hsl(162.30, 69%, 22%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
  height: 100%;
  width: 100%;
  scroll-behavior: smooth; /* Smooth scrolling behavior */
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Body Styling */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.6;
  overflow-x: hidden;
  
  transition: all 0.3s ease-in-out;
}

/* Responsive Text */
h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  font-family: var(--font-family);
  margin-bottom: 15px;
}

/* Paragraphs */
p {
  color: var(--secondary-text-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* Links */
a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--highlight-color);
}

